body {
    background-color: red;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    width: 700px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

.row {
    display: flex;
    gap: 10px;
}

.row div {
    flex: 1;
}


.inline {
    display: flex;
    gap: 10px;
   
}

.inline label {
    font-weight: normal;
}

button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
}

